<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyAd5uqoT7FKlgLsTnPhbjo4bAwkw2MO7WY</string>
	<key>CFBundleIdentifier</key>
	<string></string>
	<key>GCM_SENDER_ID</key>
	<string>709256121244</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>lc.real-tok-ai</string>
	<key>PROJECT_ID</key>
	<string>real-tok-ai</string>
	<key>STORAGE_BUCKET</key>
	<string>real-tok-ai.firebasestorage.app</string>
	<key>IS_ADS_ENABLED</key>
	<false/>
	<key>IS_ANALYTICS_ENABLED</key>
	<false/>
	<key>IS_APPINVITE_ENABLED</key>
	<true/>
	<key>IS_GCM_ENABLED</key>
	<true/>
	<key>IS_SIGNIN_ENABLED</key>
	<true/>
	<key>GOOGLE_APP_ID</key>
	<string>1:709256121244:ios:69d8b21709f2e98d2bd659</string>
</dict>
</plist>
